.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/ephemeral/
*.iml
.idea/
.vscode/
*.log
*.class
*.pyc
.DS_Store
Thumbs.db
local.properties
key.properties
*.jks
*.keystore
